.hardware-card {
    .hardware-profile {
        width: 200px;
        height: 200px;
        position: relative;
        top: -100px;
    }
    .btn-upload {
        position: relative;
        top: -140px;
    }
    .data-container-upload {
        margin-top: -160px;
    }
    .data-container {
        margin-top: -70px;
    }
}